* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  color: white;
  background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/2965.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
}

.main {
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 70vh;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

button {
  padding: 0 2rem;
}